@if(font) {
<a #contents [href]="'https://fonts.google.com/specimen/'+font.name+'/tester'" [title]="font.name"
    class="transition-opacity duration-1000" [style]="style">
    @if(waterfall) {
    @for( vweight of font.weightInfo.virtualWeights; track vweight) {
    <span [style]="{fontWeight: vweight}">
        <span [ngClass]="{'break-all': true}">{{_specimenText}}</span>
    </span>
    }
    } @else {
    <span class="break-all">
        {{_specimenText}}
    </span>
    }
</a>
} @else {
loading font...
}