<button class="hover:brightness-150" (click)="toggle()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    @if(!model.selected.length) {
    {{filter.caption}}:
    }
    @for(item of model.selected; track item) {
    <mat-icon class="w-12 h-12" [svgIcon]="filter.title + '-' + item"></mat-icon>
    }
</button>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
    (overlayOutsideClick)="isOpen=false" [cdkConnectedOverlayPositionStrategy]="createPosStrat(trigger)"
    [cdkConnectedOverlayScrollStrategy]="sr">

    @if(!model.selected) {
    {{filter.title}}
    }

    <div class="">
    <div (click)="isOpen=false" class="md:hidden  p-2 text-center bg-cyan-700">close</div>
    <ul class="overflow-auto max-h-full max-w-full flex flex-row flex-wrap justify-center bg-orange-50 backdrop-blur-sm">
        @for (item of filter.items; track item) {
        <li (click)="model.toggle(item)" class="flex flex-col items-center m-4 
            rounded-sm border-4 border-transparent 
            bg-orange-100 hover:bg-orange-50 hover:border-orange-200
            text-cyan-900" [ngClass]="{'ring-4 ring-orange-300': model.isSelected(item)}">
            <mat-icon class="w-32 h-32 f-primary" [svgIcon]="filter.title + '-' + item"></mat-icon>
            <span class="font-bold uppercase">{{item}}</span>
        </li>
        }
    </ul>
    </div>
</ng-template>