<div class="p-5 w-lvw min-h-lvh flex flex-col items-stretch">
    <div class="flex-none flex flex-row justify-center gap-4 p-4">
        <a [routerLink]="'/view/'+fontPrev?.meta?.name" queryParamsHandling="merge">{{fontPrev?.meta?.name}}</a>
        <a routerLink="/browse" queryParamsHandling="merge">Browse</a>
        <a [routerLink]="'/view/'+fontNext?.meta?.name" queryParamsHandling="merge">{{fontNext?.meta?.name}}</a>
    </div>
    <app-fontfilters></app-fontfilters>

    <div class="flex flex-row flex-wrap">
        <section class="grid basis-[200px]">
            @for( kv of font?.classification|keyvalue; track $index) {
            <div class="col-start-1">{{kv.key}}</div>
            <div class="col-start-2">{{kv.value}}</div>
            }
        </section>
        @if( table ) {
        <section>
            <div class="w-full grid grid-flow-row-dense grid-cols-[repeat(auto-fit,minmax(80px,1fr))] justify-items-stretch items-stretch gap-5"
                [style]="'font-family: \''+font?.name +'\', Tofu; '">
                @for( glyph of glyphs; track glyph.unicode ){
                <div #myself (click)="toggleGlyphOverlay(glyph.index, myself)" class="flex flex-col items-center">
                    <div class="text-9xl">
                        {{glyph.string}}
                    </div>
                    <div class="text-xs">
                        {{glyph.name}}
                    </div>
                </div>
                }
            </div>
        </section>

        } @else {

        <section name="specimen" class="flex-1 text-7xl" [style]="'font-family: \''+font?.name +'\', Tofu; '">
            <h1 class="text-[12rem] m-3 float-left">{{font?.name}}</h1>
            <div class="break-all">
                @for( glyph of glyphs; track glyph.unicode ){
                <span #myself (click)="toggleGlyphOverlay(glyph.index, myself)">{{glyph.string}}</span>
                }
            </div>
        </section>
        }
    </div>
</div>

<div class="flex flex-row justify-around">
    <span>Powered by awesome <a href="https://opentype.js.org/">Opentype.js</a></span>
</div>